body {
  font-family: Arial, sans-serif;
  background-color: #a88473;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.product-card {
  background-color: #dfd4cd;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 15px;
  text-align: center;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}
